apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world
  labels:
    app: hello-world
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      containers:
        - name: server
          image: ghcr.io/ryanbanko/hello-world-go:e0cf613490f602bf1830c7795ccc1927be26aa27
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
