name: Build and Deploy

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}

      - run: |
          IMAGE=ghcr.io/ryanbanko/hello-world-go:${GITHUB_SHA::7}
          docker build -t $IMAGE .
          docker push $IMAGE

          git config user.name "github-actions"
          git config user.email "actions@github.com"

          git pull --rebase origin main

          sed -i "s|image: .*|image: $IMAGE|" k8s/deployment.yaml

          git add k8s/deployment.yaml
          git commit -m "update image" || exit 0
          git push

